header {
    position: sticky;
    top:0;
    nav {
        div {
            div {
                margin: 1rem;
                .logo {
                    width: 6rem;
                    border-radius: 100%;
                }
            }
            .menuHamburguesa {
                color: $colorBlanco;
                iconify-icon {
                    font-size: 22px;
                    color: $colorBlanco;
                }
            }
            div{ 
                ul {
                    justify-content: space-evenly;
                    width: 100%;
                    li {
                        .linksNav {
                            color: $colorBlanco;
                            text-decoration: none;
                        }
                        iconify-icon {
                            font-size: 25px;
                            margin-right: 5px;
                        }
                    } 
                    .carrito {
                        display: flex;
                        .productosEnCarrito{
                            background-color: #22965c;
                            border-radius: 100%;
                            width: 24px;
                            height: 24px;
                            text-align: center;
                            font-size: 16px;
                            font-weight: 450;
                        }
                    }
                }
            }
        }
    }
}